.link {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	height: 20%;
	width: 40%;
	color: #ffffff;
	background: #0000ff;
	border: 3px solid;
	border-radius: 300px;
	text-align: center;
	padding: 5px 10px;
	margin: 5px;
	letter-spacing: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.link:hover {
	cursor: pointer;
	background: #034caa;
	color: #ffff00;
}
